<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" media="screen" href="style.css">
	<title >Testing</title>
</head>
<body>
	<h1 class="heade">A Bit of Sriram</h1>

<div id="nav">
	<ul>
		<li> <a href="bio.html">BIO</a></li>
		<li> <a href="papers.html">Papers</a> </li>
		<li><a href="projects.html">Projects</a></li>
		<li><a href="academic.html">Academic</a></li>
		<li><a href="facts.html">Facts</a></li>
		<li><a href="resume.html">Resume</a></li>
	</ul>
</div>

<div class="hline"></div>
	<div class="row">
  		<div class="column">
  			<img src="images/intro.jpg" style=" width: 100%;height:70%;">
    		<h3 style="margin: 0px 0px 0px 0px; text-align: center;">Contact/Know More</h3>
    		<a href="contact.html"><h2 style="margin: 10px 0px 0px 0px; text-align: center;">Sriram Gupta Kaluva</h2></a>
  		</div>
  		<div class="column1" id="content" style="background-color:#faf3e6;">
    			<div class="column1-1" id="para">
    				<img src="images/hello.png" style=" width: 80%;height:20%; align-content: center; padding: 0 100 0 100px">
    				<p><span>H</span>&nbsp;ey there &#128517;. How are you..!
						This is a page is all about Sriram Gupta &#129299;. In this site you are going to find the projects, papers, some facts and a lot more &#8734;. Feel free &#128519; to go through the whole site and get to know more about Sriram. <br><br>He has kept all his work &#128203; in this site that he has done. It includes all the curricular and extra curricular &#127909; work. You can go through his <a href="bio.html">Bio</a> (clicl the 'Bio' text) too if you want to know more about Sriram. And there is a Resume section where you can find Sriram's resume in it.
					</p>
  				</div>
    		<div class="column1-1">
  				<img src="images/4arr.png" style=" width: 80%;height:25%; align-content: center; padding: 0 0 0 60px; margin: -10 0 80px 0px" >
  				<!-- <img src="images/arrow.png" style=" width: 50%;height:50%; float: right; "> -->
    			<!-- <h2 style="margin: 0px 0px 0px 0px; text-align: center;">Chevron Tattoo</h2> -->
    			<img src="images/tattoo.png" style=" width: 80%;height:25%; align-content: center; padding: 0 0 0 60px; margin: -5 0 -40px 0px">
    			<h3 style="margin: 10px 0px 0px 0px; text-align: center;">Yes, I do have a tattoo. And its called Chevron tattoo. Wanna <a href="tattoo.html"> "know more" </a> about the tattoo..? Hover on to the know more text in the previous line and click it.! &#128520;</h3>

  			</div>
  			<!-- <div class="column1-1"> -->
  				<!-- <img src="images/home.png" style=" width: 100%;height:100%; align-content: center; padding: 0 0 100 100px"> -->
  				<!-- <img src="images/arrow.png" style=" width: 50%;height:50%; float: right; "> -->
    			<!-- <h2 style="margin: 0px 0px 0px 0px; text-align: center;">Chevron Tattoo</h2>
    			<h3 style="margin: 10px 0px 0px 0px; text-align: center;">Yes, I do have a tattoo. And its called Chevron tattoo. Wanna <a href="#">"know more"</a> about the tattoo..? Hover on to the know more text and click it.! &#128520;</h3> -->

  			<!-- </div> -->
  			<div class="column1-1">
  				<img src="images/road.png" style=" width: 80%;height:25%; align-content: center; padding: 0 0 0 60px; margin: -10 0 80px 0px" >
    			<h3 style="margin: 10px 0px 0px 0px; text-align: center;">
    				I live in a coastal area of Andhra Pradesh (South India) called BAPATLA &#127968;. I have had my schooling and some of my college years here. This place has a good sea which attracts many tourists in Andhra Pradesh. It has an ancient history which involved British Government. And a famous college on Agricultural studies built by British Government in 1945(before independence). If you would like to see some pictures of my hometown, feel free to <a href="#"> Click here</a>. <br>Loads of love &#128155; from my Hometown.
    			</h3>

  			</div>
  			<div class="column1-1">
  				<a href=""><img src="images/bottle.png" style=" width: 75%;height:115%; align-content: center; padding: 0 0 0 60px; margin: -123px 0 80px 0px " ></a>
			</div>
				<div class="column1-1">
  				<img src="images/call.png" style=" width: 75%;height:25%; align-content: center; padding: 0 0 0 60px; margin: -93px 0 80px 0px " >
    			<h3 style="margin: -60px 0px 0px 0px; text-align: center;">"Individuality keeps me going". I have been an individual person since childhood and I would like to do things on my own without reaching out for help,but always being there anytime to help. I have got all of my inspiration from the failures and the thought that why can't I achieve when someone else can achieve. I am a kind of person who always craves to try new things and explore more. I can say that I'm a skilful person and the challenges which I have faced carved me into a good shape and the bottle of skills will always be open for the new skills to be learnt. Some of my extra-curricular skills comprises of riding Bikes, Photography, Post production and Article writing.</h3>
			</div>
  		<!-- <div>

    		<p>Some text..</p>
    		<p>Some text..</p>
    		<p>Some text..</p>
    		<p>Some text..</p>
    		<p>Some text..</p>
    		<p>Some text..</p>
    		<p>Some text..</p>
    		<p>Some text..</p>
    		<p>Some text..</p>
    		<p>Some text..</p>
    		<p>Some text..</p>
    		<p>Some text..</p>
    		<p>Some text..</p>


    		</div> -->
    		<a href="#"><p id="top">^</p></a>

  		</div>

  		<div class="column2">
  			<h2 style="margin: 10px 0px 0px 0px; text-align: center;">Let's Stalk</h2>
  			<ul class="stalk">
  				<li><a href="https://www.instagram.com/sriram_kaluva/"><img src="images/insta.svg" style=" width:50px;height:60px;"></a></li>
  				<li><a href="https://in.pinterest.com/sriramsriramk6/"><img src="images/pin.svg" style=" width:50px;height:60px; padding-left: 20px;"></a> </li>
  				<li><a href="https://github.com/SRIRAMKALUVA"><img src="images/git.svg" style=" width:50px;height:60px; padding-left: 20px;"></a></li>
  				<li><a href="https://www.linkedin.com/in/sriram-kaluva-bb1181171/"><img src="images/lin.svg" style=" width:50px;height:60px; padding-left: 20px;"></a> </li>
			</ul>
  		</div>

  		<div class="mapcolumn" style="clear: both; border-style: solid; border-color: #721616 #faf3e6 #faf3e6 #faf3e6">
  			<h2 style="margin: 10px 0px 0px 0px; text-align: center;">Let's Meet</h2>

  			<div id="googleMap" style="width:100%;height:400px;">
  			</div>
			<script>
				function myMap() {
				var mapProp= {
  				center:new google.maps.LatLng(12.965986, 77.593172),
  				zoom:10,
				};
				var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
				}
			</script>
			<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3k5U-0R337DCvg-cdFAjun6ZhyCjveww&callback=myMap">
			</script>
  		</div>

	</div>

</body>
</html>
